<section class="content">
  <div class="row">
    <% var year; %>
    <% page.posts.each(function(post) {
          var post_year = date(post.date, 'YYYY');
    %>
    <% if(post_year !== year){ %>
      <% year = post_year %>
    <div class="iteam">
        <div class="current-year"><%- year %></div>
        <div class="title"></div>
    </div>
    <% } %>
    <div class="iteam">
        <div class="date"><%= date(post.date, 'MM-DD') %></div>
        <div class="title"><a href=""><%- post.title %></a></div>
    </div>
    <% }); %>
  </div>
</section>
<%- partial('template/pagination') %>
